@tailwind base;
@tailwind components;
@tailwind utilities;

textarea::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
  }
  
  .font-sans {
    font-family: sans-serif;
  }
  .font-serif {
    font-family: serif;
  }
  .font-mono {
    font-family: monospace;
  }