/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Merriweather:wght@400;700&family=Fira+Code:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

textarea::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
  }

  
/* Center the cancel button */
.Toastify__toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toastify__toast {
  background-color: #333; /* Dark background */
  color: #fff; /* Light text color */
}

.Toastify__close-button {
  margin: 0 auto; /* Center the close button */
  color: #fff; /* Light color for the close button */
}

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .toast-slide-in {
    animation: slideIn 0.5s ease-out forwards;
  }

.font-sans { font-family: theme('fontFamily.sans'); }
.font-serif { font-family: theme('fontFamily.serif'); }
.font-mono { font-family: theme('fontFamily.mono'); }
